
.pageinicioo{
        display: grid;
        position: fixed;
        grid-template-rows:  0fr 0.8fr;
        width: 100%;
        height: calc(100% - 60px);
        margin-top: 60px;
        overflow: auto;
        top: 0;
        left: 0;
}