
.pageinicioo{
        display: flex;
        position: absolute;
        width: 100vw;
        margin-top: 0;
        overflow-y: scroll;
        min-height: 100vh;
        flex-direction: column;
        top: 0;
}