.navbar{
    display:flex;
    position:fixed;
    align-items: center;
    justify-content:flex-end;
    justify-items: center;
    background-color:#5b88a5;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    color: #f4f4f2;
}

.linkss{
    display: flex;
    position:relative;
    align-items:flex-end;
    justify-content: flex-end;
    align-content:flex-end;
    margin: 30px;
    gap: 30px;
    justify-items:flex-end;
    list-style: none;
}

.nosub{
    display: flex;
    position:relative;
    align-items:flex-end;
    justify-content: flex-end;
    align-content:center;
    justify-items:flex-end;
    text-decoration: none;
    color: #f4f4f2;
    font-size: 19px;
}

.nosub:hover{
    color: #243a69;
    transition:all .5s;
}
.nosub:not(:hover){
    color: #f4f4f2;
    transition:all .5s;
}

.nosub2{
    display: none;
    position:relative;
    align-items:flex-end;
    justify-content: flex-end;
    align-content:center;
    justify-items:flex-end;
    text-decoration: none;
    color: #f4f4f2;
    font-size: 19px;
}

.nosub2:hover{
    color: #243a69;
    transition:all .5s;
}
.nosub2:not(:hover){
    color: #f4f4f2;
    transition:all .5s;
}

.btnabrir, .btncerrar{
    display: none;
    background: none;
    border-style: none;
    cursor: pointer;
}

@media screen and (max-width : 700px) {

    .linkss, .nosub{
        display: none;
    }

    .nosub2{
        display: flex;
    }

    .btncerrar{
        cursor: pointer;
        display: block;
    }

    .btnabrir{
        display: none;
    }


    .navbar{
        display:flex;
        position:fixed;
        z-index: 1;
        align-items: center;
        justify-content:space-evenly;
        gap: 30px;
        justify-items: center;
        background-color:#5b88a5;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        color: #f4f4f2;
    }

    .navbar.visible{
        display:flex;
        position:fixed;
        z-index: 1;
        align-items: center;
        justify-content:space-evenly;
        flex-direction: column;
        gap: 30px;
        justify-items: center;
        background-color:#5b88a5;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: #f4f4f2;
        animation: blurnav .5s ease-in;
    }

    .linkss.visible{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .nosub.visible{
        display: flex;
    }

    .btnabrir.visible{
        display: flex;
    }

    @keyframes blurnav{
        from{
            opacity: 0;
        } 
    }
}
