@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

.proy{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-content: flex-end;
    list-style: none;
    background: linear-gradient(rgba(233, 228, 228, 0.5), rgba(170, 166, 166, 0.5)), url(../img/fondotext.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 100vh;
    object-fit:scale-down;
}

.proyectoslista{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover;
}

.main{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.main article{
    margin: 1rem;
}

.proyect{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #243a69;
    text-shadow: 3px 3px 3px #f4f4f2da;
}


.hol{
    display:flex;
    position: relative;
    max-width: 50ch;
    background-attachment: fixed;
    color: #f4f4f2;
    text-shadow:5px 5px 5px #000;
    justify-content: center;
    flex-wrap: wrap;
    object-fit:cover;
    width: 100%;
    gap: 3rem;
    filter:drop-shadow(0px 0px 20px #243a69);
}

.hol p{
    max-width: 300px;
}

#hol1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 48, 48, 0.5)), url(../img/holfondo.png) no-repeat center center;
    background-size:cover;
    height: 50ch;
    flex-direction: column;
}

#hol2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 48, 48, 0.5)), url(../img/api.jpg) no-repeat center center;
    background-size:cover;
    height: 50ch;
    flex-direction: column;
}


.hol:hover{
    scale: 1.1;
    transition:all .3s;
}

.hol:not(:hover){
    transition: all .3s;
}

.hol header{
    font-size: 25px;
}


.foot{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
}
.foot img{
    max-width: 40px;
    filter:drop-shadow(0px 0px 10px #ffffff);
}

@media screen and (max-width:1000px) {
    .hol, .hol img{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        max-width: 22rem;
        max-height: 23rem;
        background-size: cover;
        gap: 0;
    }
    .hol .foot img{
        max-width: 30px;
        flex-wrap: wrap;
    }
    .hol p{
        max-width: 300px;
        max-height: 200px;
        font-size: 10px;
    }
    .hol img{
        max-height: 8rem;
    }
    .proyect{
        font-size: 2rem;
    }
    .main{
        display: grid;
        gap: 4rem;
        background-size: cover;
    }
    .hol{
        max-block-size: 10rem;
    }
}