@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

.proy{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    list-style: none;
    background: linear-gradient(rgba(233, 228, 228, 0.5), rgba(170, 166, 166, 0.5)), url(../img/fondotext.jpg) no-repeat center center;
    background-size: cover;
    margin-top: auto;
    overflow: auto;
}

.proyectoslista{
    display: flex;
    position: relative;
    height: 60%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-size: cover;
}

.main{
    display: flex;
    flex: 1;
    gap: 4rem;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    justify-content: center;
}



.proyect{
    margin-bottom: 1rem;
    font-size: clamp(.8rem, 1vw + 2rem, 3rem);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #243a69;
    text-shadow: 3px 3px 3px #f4f4f2da;
}


.logo2{
    text-decoration: none;
    color: #000;
}

.logo2:hover{
    color: aqua;
    transition: ease .2s;
}

.logo2:not(:hover){
    transition: ease .2s;
}


.hol{
    display:flex;
    position: relative;
    background-attachment: fixed;
    color: #f4f4f2;
    text-shadow:5px 5px 5px #000;
    flex-wrap: wrap;
    object-fit:cover;
    overflow: auto;
    flex-direction: column;
    gap: 3rem;
    filter:drop-shadow(0px 0px 20px #243a69);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow-wrap: break-word; 
}

.hol p{
    font-size: clamp(.8rem,  0.9rem, 1.5rem);
    overflow-wrap: break-word;
    max-width: 500px;
}

#hol1{
    display: flex;
    position: relative;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 48, 48, 0.5)), url(../img/holfondo.png) no-repeat center center;
    background-size:cover;
    flex-direction: column;
    color: #f4f4f2;
    text-shadow:5px 5px 5px #000;
    object-fit:cover;
    overflow: auto;
    gap: 3rem;
    filter:drop-shadow(0px 0px 20px #243a69);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow-wrap: break-word; 
}

#hol2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 48, 48, 0.5)), url(../img/api.jpg) no-repeat center center;
    background-size:cover;
    height: 100%;
    flex-direction: column;
}

#hol3{
    display: flex;
    position: relative;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(49, 48, 48, 0.5)), url(../img/tso.jpeg) no-repeat center center;
    background-size:cover;
    flex-direction: column;
    color: #f4f4f2;
    text-shadow:5px 5px 5px #000;
    object-fit:cover;
    overflow: auto;
    gap: 3rem;
    filter:drop-shadow(0px 0px 20px #243a69);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow-wrap: break-word; 
}

.hol:hover{
    scale: 1.01;
    transition:all .3s;
}

.hol:not(:hover){
    transition: all .3s;
}

.hol header{
    font-size: 25px;
}


.foot{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content:flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(1px 1px 10px #fff);
}
.foot img{
    max-width: 40px;
    filter:drop-shadow(0px 0px 10px #ffffff);
}

@media screen and (max-width:1000px) {
    .hol, .hol img{
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        max-width: 22rem;
        max-height: 23rem;
        background-size: cover;
        gap: 0;
    }
    .hol .foot img{
        max-width: 30px;
        flex-wrap: wrap;
    }

    .hol img{
        max-height: 8rem;
    }

    .main{
        gap: 4rem;
        background-size: cover;
    }
}